// Variables

$color-main-light: #559da8;
$color-main: #075b6d;
$color-main-dark: #1f3d49;
$color-accent: #d76229;
$color-black: #363636;
$color-white: #fff;
$color-gray: #959595;
$color-text: $color-black;

$font-family-default: sans-serif;
$font-family-base: 'Helvetica', sans-serif;
$font-family-accent: 'Georgia', sans-serif;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-size-h1: 66px;
$font-size-h2: 33px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 12px;
$font-size-h6: 10px;
$font-size-large: 17px;
$font-size-base: 16px;
$font-size-small: 15px;

$space-xxs: 6px;
$space-xs: 10px;
$space-sm: 20px;
$space-md: 40px;
$space-lg: 60px;
$space-xl: 90px;
